--- 
# Only the main Sass file needs front matter (the dashes are enough) 
--- 

@import "minima";

body {
    background-color: #F2F3F4; // #F8F9F9;
}

.site-header {
    background-color: #2980B9;
}

.site-header {
    .site-title {
        color: white !important;
        font-weight: 500;
    }
}

.site-nav {
    .page-link {
        color: white;
    }
}


